
        body{background-color:#333676;}
        p{text-align: justify; font-style:italic;
	color:#aaa339; }
    h1{color:#AA7139}    
    h2{color:#AA7139}
    h3{color: #FFAC5A;}
    a:link{text-decoration:#777df9; background:#777df9;}